@import "global";
@font-face {
	font-family: HannariMincho;
	src: url(../font/HannariMincho-Regular.otf);
	font-style: normal;
}
.fnt-hannari {
	font-family: HannariMincho !important;
}
.txt-f4 {
	letter-spacing: 9px;
	font-size: 5.5vw;
	font-family: HannariMincho !important;
	@include pc {
		font-size: 40px;
	}
}
.txt-f3 {
	font-size: 7vw;
	letter-spacing: 9px;
	font-family: HannariMincho !important;
	@include pc {
		font-size: 30px !important;
	}
}
.color-main {
	color: $main-color;
}
.wrap {
	@include pc {
		border-left: 1px solid red;
		border-right: 1px solid red;
	}
}

#sec1 {
	margin: 15vw 0 0;
    height: 100%;
	@include pc {
		margin: 0px 0px 0px 0px;
        background: url(../img/access/sec1_deco_bottom.jpg) repeat-x bottom left/8% 209px;

	}
	.wrap {
		position: relative;
		&:after {
			position: absolute;
			content: "";
			left: 0;
			top: -49px;
			height: 116px;
			width: 60%;
			background: url(../img/access/sec1_bg_top.jpg);
			z-index: -1;
			@include pc {
				right: 419px;
				left: auto;
				top: -2px;
				height: 236px;
				width: 100%;
			}
		}
		.deco {
			position: absolute;
			width: 50%;
			right: 0;
			top: 0;
			@include pc {
				width: 100%;
				left: 569px;
				top: 156px;
				right: auto;
			}
		}
	}
	strong {
		font-weight: 700;
		font-size: 4.3vw;
		@include pc {
			font-size: 20px;
		}
	}
	h2 {
		margin-bottom: 6vw;
		position: relative;
		&:after {
			position: absolute;
			content: "";
			top: -2vw;
			left: 0;
			width: 20%;
			height: 2px;
			background: $main-color;
			@include pc {
				top: -37px;
				left: 0;
				width: 69px;
				height: 3px;
			}
		}
		@include pc {
			margin: 0px 0px 33px 0px;
		}
	}
	dl {
		margin-bottom: 6vw;
		@include pc {
			margin: 0px 0px 31px 0px;
		}
	}
	.group1 {
		@include pc {
			padding-top: 131px;
		}
	}
	.group2 {
		@include pc {
			position: absolute;
			right: 0;
			top: 446px;
			width: 500px;
			padding-left: 54px;
		}
	}
	.sec1-img {
		@include pc {
			padding-top: 31px;
		}
	}
}
#gmap {
    margin: 12vw 0 0;
   
	@include pc {
		flex-direction: row-reverse;
		align-items: center;
         margin: 0px 0px 0px 0px ; 
	}
	.ifram {
		width: 100%;
		height: 110vw;
		border: 0;
		@include pc {
			width: 706px;
			height: 475px;
			margin-right: -136px;
		}
	}
	.btn-gmap {
		padding: 6vw 8% 0;
        margin: 0 -5%;
        background: url(../img/access/sec1_deco_bottom.jpg) repeat-x bottom left/20% 26vw;

		li {
			width: 98%;
			.button {
				display: flex;
				font-weight: 500;
				font-size: 6vw;
				letter-spacing: 4px;
				align-items: center;
                justify-content: space-between;
				padding: 10px;
				text-decoration: none;
				cursor: pointer;
				transition: all 0.4s ease;
				@include pc {
					padding: 0;
                    justify-content: flex-start;
				}
				&:hover {
					opacity: 0.7;
				}
			}
			.print {
				color: #000000;
				text-align: center;
				display: block;
				font-size: 5vw;
                @include pc { 
                    text-align: left;
                }
			}
			.copy {
				letter-spacing: 0;
			}
		}
	}

	@include pc {
		.btn-gmap {
			padding: 0px 58px 83px 0px ; 
			flex-wrap: wrap;
          background: unset;
			li {
				width: 100%;
				margin-bottom: 25px;
				font-size: 30px;
				.button {
					font-size: 25px;
                    justify-content: space-between;
				}
				.print {
					// display: none;
					font-size: 20px;
				}
			}
		}
	}
}
#sec2 { 
	margin: 73vw 0 0;
	@include pc {  margin: 0px 0px 0px 0px ; }
	.bg-parallax{
		display: none !important;
		@include pc { 
			background-image: url(../img/access/parallax1.jpg);
			display: block !important;
		}
	}
	.parallax1 { 
		img { 
			height: 60vw;
		}
	}
	.group1 { 
		margin: 8vw 0 0;
		@include pc {  margin: 0px 0px 0px 0px ; }
		p { 
			width: 80%;
			margin-right: 6%;
			@include pc { 
				width: auto;
				 margin: 0px 0px 0px 0px ; 
			}
		}
		h2 { 
			width: 15%;
			margin-top: -20vw;
			position: relative;
			z-index: -1;
			@include pc { 
				width: auto;
				 margin: 0px 0px 0px 0px ; 
			}
		}
	}
	.group2 { }
}

footer {
	margin-top: 500px;
}
.hehe { 
	color: red; 
}
