@charset "UTF-8";
/*=============================================
 * body
 *=============================================*/
body {
  font-size: 13px;
  line-height: 1.8;
  color: #414141;
  letter-spacing: 0.1em;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  min-width: inherit;
  min-height: inherit;
  max-height: 100%;
  background: url("../img/shared/bg_sp.jpg") repeat-y top center/100% auto;
  border: 5px solid #b5003c;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1.1px;
    background: url("../img/shared/bg_pc.jpg") repeat top center;
    border: 10px solid #b5003c;
  }
}
.nav--opened {
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.nav--opened #pagetop,
.nav--opened .fx-btn {
  z-index: -1;
  opacity: 0;
}

body.nav--opened,
body.nav--opened *,
body.nav--opened *:hover,
body.nav--opened *:focus,
body.nav--opened *:active {
  pointer-events: none !important;
  touch-action: none !important;
}

body.nav--opened .hamburger,
body.nav--opened #menu_toggle,
body.nav--opened #menu_toggle * {
  pointer-events: visible !important;
  touch-action: auto !important;
}

/*=============================================
 * fonts - DON'T EDIT
 *=============================================*/
@font-face {
  font-family: HannariMincho;
  src: url(../font/HannariMincho-Regular.otf);
  font-style: normal;
}
.fnt-mincho {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.fnt-meiryo {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴシックPro", "ＭＳ ゴシック", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.fnt-gothic {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}

.fnt-notosr {
  font-family: "Noto Serif JP", serif;
}

.fnt-hannari {
  font-family: HannariMincho !important;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .flex-pc {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
  }
}

.flex {
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
}

.btn-link {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #414141;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 4vw;
  letter-spacing: 0;
  line-height: 1.6;
  position: relative;
  transition: ease 0.3s;
}
.btn-link span {
  width: 22%;
  display: block;
  margin-left: 16px;
}
@media only screen and (min-width: 768px) {
  .btn-link span {
    width: auto;
    margin-left: 42px;
  }
}
.btn-link:hover {
  text-decoration: none;
  opacity: 0.8;
}
@media only screen and (min-width: 768px) {
  .btn-link {
    font-size: 25px;
  }
}

.bg-brown {
  background: url("../img/shared/bg_brown.jpg");
}

/*=============================================
 * main
 *=============================================*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

a[href^="tel:"]:hover {
  text-decoration: none;
}

.wrap {
  padding: 0 4%;
  position: relative;
}

/*=============================================
 * header
 *=============================================*/
#header {
  background: url(../img/index/header_bg_top_sp.png) no-repeat top center/100% auto;
  padding-top: 1px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  #header {
    padding: 55px 0px 0px 0px;
    background: unset;
    margin-top: 40px;
  }
  #header::before {
    position: absolute;
    content: "";
    top: -30px;
    background: url(../img/index/header_bg_top.png) no-repeat top center/110% 250px;
    left: 0;
    right: 0;
    height: 100%;
  }
}
#header .wrap {
  position: relative;
}
@media only screen and (min-width: 768px) {
  #header .wrap {
    padding-bottom: 94px;
  }
}
#header .logo {
  width: 50%;
  margin: 7vw auto 0;
}
@media only screen and (min-width: 768px) {
  #header .logo {
    width: 100%;
    margin: -4px 0px 0px 0px;
  }
}
#header h1 {
  font-size: 3vw;
  line-height: 1.5;
  color: #d2d2d2;
  padding: 8vw 0% 4vw;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  #header h1 {
    font-size: 13px;
    padding: 66px 0 0 0;
    margin: 0 auto;
  }
}
#header h2 {
  width: 50%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  #header h2 {
    width: 100%;
    margin: 0px 0px 0px 0px;
    position: absolute;
    left: -79px;
    top: 414px;
  }
}
#header .header-img {
  width: 80%;
  margin: -2vw auto 0;
}
@media only screen and (min-width: 768px) {
  #header .header-img {
    width: auto;
    margin: 243px 0 0 0;
  }
}
@media only screen and (min-width: 768px) {
  #header .header-info {
    justify-content: space-between;
    position: absolute;
    top: 112px;
    left: 0;
    right: 0;
  }
}
@media only screen and (min-width: 768px) and (min-width: 768px) {
  #header .header-info .social {
    align-items: flex-end;
  }
}
@media only screen and (min-width: 768px) {
  #header .header-info .social li {
    margin-left: 17px;
  }
}

.header-deco {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}

@media only screen and (min-width: 768px) {
  header #key {
    width: 100%;
    height: 100%;
  }
  header #key .key-slide,
header #key .key-slide * {
    width: 100%;
    height: 100%;
  }
  .logo {
    top: 87px;
    width: 261px;
  }
  .header-deco {
    width: 683px;
  }
  h1 {
    font-size: 13px;
    line-height: 30px;
    bottom: auto;
    top: 15px;
    padding: 0;
  }
}
.fixed_reserve {
  position: fixed;
  right: 0;
  top: 318px;
  cursor: pointer;
  z-index: 10;
}

.gnav a {
  display: block;
  letter-spacing: 0;
  font-size: 15px;
  line-height: 1.5;
  position: relative;
  color: #382112;
  font-weight: 500;
  font-family: HannariMincho !important;
}

.gnav a:hover,
.gnav a.active {
  text-decoration: none;
  color: #b5003c;
  background: #fff;
}

.gnav2 li {
  margin-bottom: 8px;
  width: 91px;
}
.gnav2 li a {
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  color: #382112;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  padding: 0 14px;
  transition: 0.3s ease;
}
.gnav2 li a:hover, .gnav2 li a.active {
  text-decoration: none;
  opacity: 0.8;
}

@media only screen and (min-width: 768px) {
  main {
    padding-top: 90px;
  }
}
/*=============================================
 * key
 *=============================================*/
/*=============================================
 * nav
 *=============================================*/
i {
  display: flex;
  line-height: 1;
}

.tel {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  color: #382112;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  letter-spacing: 0;
}
.tel span:nth-child(1) {
  font-size: 12px;
}
.tel span:nth-child(2) {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
}
.tel span:nth-child(2) i {
  margin-right: 3px;
  margin-top: -5px;
  width: 23px;
}

@media only screen and (min-width: 768px) {
  main#index .nav-fixed {
    display: none;
  }
}

.nav-fixed {
  position: fixed;
  background: url("../img/index/header_fix_bg.jpg");
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 999;
  height: 90px;
  line-height: 25px;
  padding-top: 8px;
  box-sizing: border-box;
}
.nav-fixed:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: -10px;
  height: 10px;
  background: #b5003c;
}
.nav-fixed .wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.nav-fixed .tel {
  margin-left: 7px;
}
.nav-fixed .header-fix-top {
  margin-top: 13px;
  justify-content: space-between;
}
.nav-fixed .header-fix-top .gnav {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  line-height: 39px;
  flex-direction: row-reverse;
  width: 755px;
}
@media only screen and (min-width: 768px) {
  .nav-fixed .header-fix-top .gnav li a {
    font-size: 17px;
    padding: 2px 12px;
  }
}
.nav-fixed .header-fix-top .gnav li.active {
  background-color: #ffffff;
}
.nav-fixed .header-fix-top .gnav li.active a {
  color: #b5003c;
}
.nav-fixed .header-fix-top .gnav2 {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.nav-fixed .header-fix-top .gnav2 li {
  margin-bottom: 0;
  margin-left: 20px;
  width: auto;
}
.nav-fixed .header-fix-top .gnav2 li a {
  padding: 0 0;
}

.nav-fixed.fixed {
  display: block !important;
}

.nav-fixed.fixed.pc {
  display: none !important;
}

hr {
  border: none;
  width: 100%;
  background: url("../img/index/hr_bg.jpg") repeat-x top center;
  height: 9px;
}
@media only screen and (min-width: 768px) {
  hr {
    height: 30px;
    background-size: auto 100%;
  }
}

#menu_toggle {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow-y: auto;
  z-index: 999;
  padding: 26px 4% 150px;
  background: url(../img/index/header_bg_top_sp.png) no-repeat top center/100% 130px, url(../img/shared/bg_menu_toggle.jpg);
  border: 5px solid #b5003c;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
#menu_toggle .inner .logo {
  width: 50%;
  margin: 0 auto;
}
#menu_toggle .gnav {
  margin: 12vw 6% 0;
  justify-content: space-between;
}
#menu_toggle .gnav li a {
  padding: 2vw 2.5%;
}
#menu_toggle .gnav li a.active {
  color: #b5003c;
  background: url(../img/index/header_menu_bg.jpg);
}
#menu_toggle .gnav2 {
  justify-content: space-between;
  margin: 14vw 20% 0;
}

.navOpen #menu_toggle {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

/*=============================================
 * hamburger
 *=============================================*/
.hamburger {
  z-index: 9999;
  position: fixed;
  top: 0px;
  right: 0;
  color: #fff;
  background: #b5003c;
  border-right: none;
  width: 50px;
  height: 50px;
}
.hamburger p {
  display: none;
}

.hamburger:after {
  content: "menu";
  font-size: 9px;
  color: #fff;
  letter-spacing: 0.15em;
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  height: 18px;
  text-align: center;
  font-weight: 300;
}

.hamburger span {
  width: 30px;
  height: 1px;
  position: absolute;
  top: 18px;
  right: 0;
  left: 0;
  background-color: #fff;
  margin: auto;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger span:before,
.hamburger span:after {
  content: "";
  background: #fff;
  height: 1px;
  position: absolute;
  right: 0;
  left: 0;
  transition: 0.15s ease;
}

.hamburger span:before {
  top: -7px;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger span:after {
  bottom: -7px;
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger.is-active {
  border-color: transparent;
  top: 30px;
}

.hamburger.is-active:after {
  content: "close";
}

.hamburger.is-active span {
  top: 16px;
  width: 30px;
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger.is-active span:before {
  top: 0;
  opacity: 0;
  background: #fff;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger.is-active span:after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*=============================================
 * footer
 *=============================================*/
footer {
  position: relative;
  padding: 13vw 0 12vw;
}
footer #info {
  margin: 12vw 0;
  color: #414141;
}
@media only screen and (min-width: 768px) {
  footer #info {
    margin: 0px 0px 0px 0px;
  }
}
@media only screen and (min-width: 768px) {
  footer #info {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}
footer #info .left {
  padding-bottom: 12vw;
  position: relative;
}
footer #info .left:after {
  position: absolute;
  content: "";
  left: 10%;
  right: 10%;
  bottom: 0;
  height: 1px;
  background: #b5003c;
}
@media only screen and (min-width: 768px) {
  footer #info .left {
    padding-bottom: 0;
    width: 331px;
  }
  footer #info .left:after {
    display: none;
  }
}
footer #info .left .logo {
  width: 30%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  footer #info .left .logo {
    width: auto;
  }
}
footer #info .left .social {
  width: 50%;
  margin: 14vw auto 0vw;
  justify-content: space-around;
}
@media only screen and (min-width: 768px) {
  footer #info .left .social {
    margin: 69px auto 0px auto;
    width: 120px;
  }
}
footer #info .right {
  margin-top: 12vw;
}
@media only screen and (min-width: 768px) {
  footer #info .right {
    margin-top: -24px;
    padding-left: 50px;
    width: calc(100% - 331px);
    position: relative;
  }
  footer #info .right:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: -60px;
    width: 1px;
    background: #b5003c;
  }
}
footer #info .right dl {
  margin-bottom: 6vw;
  display: flex;
}
@media only screen and (min-width: 768px) {
  footer #info .right dl {
    margin: 0px 0px 25px 0px;
  }
}
footer #info .right dl dt {
  width: 100px;
  padding-right: 2%;
}
@media only screen and (min-width: 768px) {
  footer #info .right dl dt {
    width: 105px;
    padding-right: 0;
  }
}
footer #info .right dl dd {
  width: calc(100% - 100px);
  text-align: left;
}
@media only screen and (min-width: 768px) {
  footer #info .right dl dd {
    width: calc(100% - 105px);
    padding-left: 32px;
  }
}
footer #info .right dl dd .info-tel {
  width: 60%;
}
@media only screen and (min-width: 768px) {
  footer #info .right dl dd .info-tel {
    width: auto;
  }
}

.footer-logo {
  margin: auto;
  width: 58.3%;
}

.footer-tel {
  font-size: 3.9vw;
  font-weight: 500;
  line-height: 1.2;
  margin: 7vw 0 9vw;
}
.footer-tel p:nth-child(1) {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.footer-tel p:nth-child(1) span:nth-child(2) {
  font-size: 199%;
  align-items: center;
}
.footer-tel p:nth-child(1) i {
  width: 22px;
  margin: -3px 5px 0 10px;
}
.footer-tel p:nth-child(2) {
  font-size: 83%;
  letter-spacing: 1px;
}

footer address {
  margin-top: 15px;
  font-size: 10px;
}

footer .cookie-link {
  letter-spacing: 1.7px;
  text-align: center;
  font-size: 10px;
}

footer .cookie-link a {
  position: relative;
  padding-bottom: 0;
}

footer .cookie-link a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #999;
  opacity: 0;
}

footer .cookie-link a:hover {
  text-decoration: none;
}

footer .cookie-link a:hover:before {
  opacity: 1;
}

.info {
  margin-bottom: 10vw;
}
.info dl {
  line-height: 1.6;
  margin-bottom: 18px;
}
.info dl dt {
  width: 80px;
}
.info dl dd {
  width: calc(100% - 80px);
}

.footer-nav {
  display: none;
}

footer .bg-footer-bottom {
  background: url(../img/shared/footer_bg.jpg);
  padding: 5vw 0;
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 179px 0 0px;
    line-height: 32px;
    font-weight: 500;
  }
  footer .dis-flex-pc {
    justify-content: space-between;
  }
  footer .bg-footer-bottom {
    padding-bottom: 54px;
    padding-top: 30px;
    margin-top: 107px;
  }
  .footer-bottom {
    margin: 0 auto;
    width: 400px;
  }
  footer address {
    margin-top: 37px;
    font-size: 14px;
  }
  footer .cookie-link {
    text-align: center;
    margin-top: 0;
    font-size: 14px;
  }
  .footer-nav {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin-bottom: 29px;
    flex-direction: row-reverse;
    align-items: center;
    background: url(../img/shared/footer_nav_bg.jpg);
    height: 62px;
  }
  .footer-nav li:not(:last-child):before {
    content: "|";
    margin: 0 22px;
  }
}
#gmap {
  width: 100%;
  height: 325px;
}

@media only screen and (min-width: 768px) {
  #gmap {
    height: 650px;
  }
}
#pagetop {
  right: 3%;
  bottom: 20vw;
  width: 50px;
}

iframe {
  width: 100%;
  height: 100%;
}

/*=============================================
 * ft_fixed_shared
 *=============================================*/
#socialbuttons > * {
  margin: 0;
}

#ft_fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  z-index: 999;
  background: #b5003c;
}

@media only screen and (max-width: 767px) {
  #ft_fixed {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
  }
  #ft_fixed:after {
    position: absolute;
    content: "";
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #fff;
  }
  #ft_fixed li {
    width: 40%;
  }
}
@media only screen and (min-width: 768px) {
  #ft_fixed {
    display: none;
  }
}
#ft_fixed a:hover,
#ft_fixed a:focus,
#ft_fixed a:active,
#ft_fixed a:visited {
  opacity: 1 !important;
}

.navOpen #ft_fixed {
  z-index: 0;
}

.has_nav #ft_fixed {
  opacity: 1;
  visibility: visible;
}

/* iPhone X */
@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .has_nav footer:after {
    background: url("../img/shared/bg2.jpg") no-repeat top center/100% 100%;
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 36px;
    z-index: 99;
  }
  #ft_fixed {
    bottom: calc(env(safe-area-inset-bottom) - 0);
  }
  #pagetop {
    bottom: calc(env(safe-area-inset-bottom) + 70px);
  }
}
/* iPhone XR */
@media only screen and (min-device-width: 414px) and (min-device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  .has_nav footer:after {
    background: url("../img/shared/bg2.jpg") no-repeat top center/100% 100%;
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 36px;
    z-index: 99;
  }
  #ft_fixed {
    bottom: calc(env(safe-area-inset-bottom) - 0);
  }
  #pagetop {
    bottom: calc(env(safe-area-inset-bottom) + 70px);
  }
}
/* iPhone 11 */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2), only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3), only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .has_nav footer:after {
    background: url("../img/shared/bg2.jpg") no-repeat top center/100% 100%;
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 36px;
    z-index: 99;
  }
  #ft_fixed {
    bottom: calc(env(safe-area-inset-bottom) - 0);
  }
  #pagetop {
    bottom: calc(env(safe-area-inset-bottom) + 70px);
  }
}
/*=============================================
 * general
 *=============================================*/
.slick-slide > div {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .flex-box-pc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.slick-dots {
  font-size: 0;
  line-height: 0;
  text-align: center;
  margin-top: 10px;
  position: absolute;
  right: -50px;
  bottom: 50px;
  transform: rotate(90deg);
}
@media only screen and (min-width: 768px) {
  .slick-dots {
    right: -32px;
    bottom: 42px;
  }
}

.slick-dots li {
  display: inline-block;
  line-height: 0;
  padding: 0 3px;
  cursor: pointer;
}

.slick-dots li button {
  border: 1px solid #b5003c;
  position: relative;
  cursor: pointer;
  outline: none;
  width: 29px;
  height: 5px;
  background: transparent;
}

.slick-dots .slick-active button {
  background: #b5003c;
}

@media only screen and (min-width: 768px) {
  .slick-dots li {
    padding: 0 5px;
  }
  .slick-dots li button {
    width: 41px;
    height: 7px;
  }
}
.slick-arrow {
  bottom: 0;
  z-index: 2;
  border: none;
  outline: none;
  color: transparent;
  position: absolute;
  cursor: pointer;
  background: transparent;
  width: 16px;
  height: 100%;
}

.slick-arrow.slick-prev {
  left: 4px;
  background: url("../img/shared/arrow_left.png") no-repeat center/auto 100%;
}

.slick-arrow.slick-next {
  right: 3px;
  background: url("../img/shared/arrow_right.png") no-repeat center/auto 100%;
}

@media only screen and (min-width: 768px) {
  .slick-arrow {
    width: 35px;
  }
}
img {
  max-width: 100%;
  height: auto;
}

.bg_parallax {
  position: relative;
}

.img_parallax {
  clip: rect(0, auto, auto, 0);
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img_parallax img {
  width: 100% !important;
  height: 100vh !important;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  -o-object-fit: cover;
  object-fit: cover;
  transform: translateZ(0) !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .img_parallax img {
    height: auto !important;
    -o-object-fit: unset;
       object-fit: unset;
    top: 50%;
    transform: translateY(-50%) !important;
  }
}
@supports (-ms-accelerator: true) {
  .img_parallax img {
    height: auto !important;
    -o-object-fit: unset;
       object-fit: unset;
    top: 50%;
    transform: translateY(-50%) !important;
  }
}
@media only screen and (min-width: 768px) {
  .hamburger,
.sp {
    display: none !important;
  }
  #pagetop {
    width: auto;
    bottom: 20px;
    right: 20px;
  }
  img {
    width: auto;
  }
  .slick-dots li {
    transition: 0.2s;
  }
  .slick-dots li:hover {
    opacity: 0.8;
  }
  .slick-arrow:hover {
    opacity: 0.8;
  }
  #menu_toggle {
    height: 0;
    opacity: 0;
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
  .wrap {
    margin: auto;
    width: 1000px;
    padding: 0;
    position: relative;
  }
  .has_nav footer:after {
    content: none !important;
  }
  .txt-vertical-pc {
    cursor: vertical-text;
    writing-mode: vertical-rl;
    -o-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -moz-writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    text-orientation: upright;
    word-wrap: break-word;
  }
  .txt-vertical-pc .int {
    writing-mode: lr-tb;
    -o-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    -moz-writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
    line-height: 1;
    display: inline-block;
    margin-left: 19px;
  }
  .dis-flex-pc {
    display: flex !important;
  }
}
.dis-flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

em {
  font-style: normal;
}

.remodal {
  background: #f4eee9;
}

.remodal .popup-ttl {
  line-height: 1.61;
  font-weight: 500;
}

.remodal ul {
  text-align: left;
}

.remodal ul li {
  position: relative;
}

.remodal ul li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

@media only screen and (max-width: 767px) {
  .remodal {
    padding: 10vw 3%;
  }
  .remodal .wrap {
    padding: 0;
  }
  .remodal .remodal-close {
    width: 20px;
    height: 20px;
    top: -5vw;
  }
  .remodal .popup-ttl {
    font-size: 6.1vw;
    margin-bottom: 5.5vw;
  }
  .remodal .popup-txt {
    margin-bottom: 6vw;
    letter-spacing: 0;
  }
  .remodal .popup-txt p + p {
    margin-top: 5vw;
  }
  .remodal ul {
    padding-left: 9%;
  }
}
@media only screen and (min-width: 768px) {
  .remodal {
    padding: 80px 0 95px;
    line-height: 30px;
  }
  .remodal .remodal-close {
    top: -50px;
  }
  .remodal .popup-ttl {
    font-size: 34px;
    line-height: 60px;
    margin-bottom: 30px;
    color: #231815;
  }
  .remodal .popup-txt p + p {
    margin-top: 36px;
  }
  .remodal .dis-flex-pc {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    padding: 0 96px;
  }
  .remodal .dis-flex-pc ul:nth-child(1) {
    width: 245px;
  }
  .remodal .dis-flex-pc ul:nth-child(2) {
    width: 192px;
  }
  .remodal .dis-flex-pc ul:nth-child(3) {
    width: 297px;
  }
}
.img-bor {
  position: relative;
  z-index: 0;
}

.img-bor:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}

.img-bor.bor-tr:before {
  top: -10px;
  right: -10px;
}

.img-bor.bor-bl:before {
  bottom: -10px;
  left: -10px;
}

.img-bor.bor-br:before {
  bottom: -10px;
  right: -10px;
}

@media only screen and (min-width: 768px) {
  .img-bor.bor-tr:before {
    top: -20px;
    right: -20px;
  }
  .img-bor.bor-bl:before {
    bottom: -20px;
    left: -20px;
  }
  .img-bor.bor-br:before {
    bottom: -20px;
    right: -20px;
  }
}/*# sourceMappingURL=shared.css.map */