@import "global";
@font-face {
	font-family: HannariMincho;
	src: url(../font/HannariMincho-Regular.otf);
	font-style: normal;
}
$tablet-width: 768px;
$desktop-width: 1375px;
@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}
.txt-f4 {
	letter-spacing: 9px;
	font-size: 9vw;
	font-family: HannariMincho !important; 
	@include pc {
		font-size: 40px;
	}
}
.txt-f3 {
	font-size: 6vw;
	letter-spacing: 9px;
	font-family: HannariMincho !important;
	@include pc {
		font-size: 30px !important;
	}
}
.color-main {
	color: $main-color;
}
.box-main-color {
	border: 1px solid $main-color;
}

#sec1 {
	.title-h2 {
		display: inline-block;
		position: relative;
		margin: 0 auto;
		width: 24%;
		height: 74vw;
		@include pc {
			width: 86px;
			height: 344px;
			left: -8px;
			top: 13px;
		}
		.sub1-h2 {
			position: absolute;
			right: 0;
			top: 9vw;
			font-size: 2.5vw;
			@include pc {
				font-size: 13px;
				top: 19px;
				right: -19px;
			}
		}
		.sub2-h2 {
			position: absolute;
			bottom: 20vw;
			font-size: 2.5vw;
			left: 32%;
			@include pc {
				font-size: 13px;
				bottom: 80px;
				left: 30px;
			}
		}
	}
	h2 {
		font-size: 6vw;
		letter-spacing: 4px;
		@include pc {
			line-height: 45px;
		}
		p:nth-child(1) {
			@include pc {
				margin-left: 12px;
				margin-bottom: 16px;
				letter-spacing: 10px;
			}
		}
		p:nth-child(2) {
			padding-top: 21vw;
			text-align: left;
			@include pc {
				padding: 106px 0px 0px 0px;
			}
		}
	}
	.sec1-img {
		margin: 6vw 0;
		@include pc {
			margin: 72px 0px 57px 0px;
		}
	}
	.sec1-txt {
		@include pc {
			margin: 0 auto;
			width: 758px;
		}
	}
}
#sec2 {
	padding: 10vw 0;
	@include pc {
		padding: 0px 0px 130px 0px;
		margin-top: 210px;
	}
	.wrap {
		position: relative;
		.deco {
			position: absolute;
			left: -5%;
			top: -16vw;
			width: 50%;
			@include pc {
				left: -177px;
				top: -162px;
				width: 100%;
			}
		}
	}
	h2 {
		margin: 0 auto 6vw;
		@include pc {
			margin: 0px 0px 39px 0px;
			width: 333px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.sec2-img {
		margin-bottom: 6vw;
		position: relative;
		@include pc {
			margin: 0px 0px 0px 0px;
			position: absolute;
			right: -78px;
			top: -10px;
		}
		&:after {
			content: "";
			position: absolute;
			right: -5%;
			top: -5vw;
			width: 100%;
			height: 100%;
			// background: red;
			background: url(../img/sweets/sec2_deco.jpg);
			z-index: -1;
			@include pc {
				background: unset;
				content: url(../img/sweets/sec2_deco.jpg);
				right: -48px;
				top: -47px;
			}
		}
	}
	.sec2-txt {
		@include pc {
			width: 333px;
		}
	}
}
#sec3 {
	padding: 6vw 4%;
	position: relative;
	@include pc { 
		width: 1500px;
		margin: 0 auto;
		padding: 111px 0px 0px 0px ; 
	}
	@include tablet { 
		width: 100%;
	}
	.group1 {
		margin-bottom: 6vw;
		@include pc {
			margin: 0px 0px 0px 0px;
			position: absolute;
			right: 261px;
			top: 145px;
			h2 {
				margin-bottom: 41px;
			}
		}
		@include tablet { 
			right: 180px;
			top: 14vw;
		}
	}
	
	.sec3-slide {
		.slide-item {
			@include pc {
				display: flex !important;
				justify-content: space-between;
				padding-left: 5%;
				padding-right: 11.5%;
			}
			@include tablet { 
				padding-left: 6%;
				padding-right: 0;
				justify-content: flex-start;
				align-items: flex-end;
			}
			position: relative;
			.sec3-img {
				@include pc {
					display: inline-block;
				}
				@include tablet {
					width: calc(100vw - 520px) !important;
				}
			}
		}

		.slide-txt {
			margin: 7vw 0;
			padding: 5vw 4%;
			@include pc {
				margin: 0px 0px 0px 0px;
				padding: 0px 0px 0px 0px;
				width: 320px;
				// height: 405px;
				@include tablet { 
					width: 520px;
					margin-top: 17vw;
				}
				.group-txt {
					margin-top: 187px;
					padding-top: 72px;
				
					position: relative;
				@include tablet { 
					width: 342px;
					padding-left: 5%;
				}
					&:after {
						content: "";
						position: absolute;
						top: -6px;
						left: -153px;
						right: -80px;
						bottom: -76px;
						border: 1px solid $main-color;
						z-index: -1;
						@include tablet{ 
							left: -56px;
							right: -24px;
							bottom: -37px;
						}
					}
				}
				h3 {
					margin-bottom: 17px;
					letter-spacing: 5px;
				}
				.price {
					margin-bottom: 10px;
					font-size: 22px;
					letter-spacing: 4px;
					@include pc {
						letter-spacing: 0.25em;
					}
				}
			}
			@include tablet { 
				.group-txt { 
					margin-top: 0;padding-top: 20px;
					&:after { 
						left: -25px;
							right: -24px;
							bottom: -21px;
					}
				}
			}
			.content {
				margin-top: 4vw;
				@include pc {
					margin: 0px 0px 0px 0px;
					padding-left: 2px;
					padding-right: 3px;
				}
			}
		}
		.sec3-img {
			position: relative;
			&:after {
				border-top: 1px solid $main-color;
				border-right: 1px solid $main-color;
				content: "";
				position: absolute;
				width: 20%;
				height: 18vw;
				right: -2%;
				top: -2vw;
				@include pc {
					width: 15%;
					height: 8vw;
					top: -1vw;
					right: -1.8%;
				}
			}
			&::before {
				background: url(../img/sweets/sec3_deco.jpg) no-repeat top center/cover;
				position: absolute;
				content: "";
				left: -10%;
				width: 100%;
				top: 5vw;
				height: 57vw;
				@include pc {
					left: -41px;
					width: 100%;
					top: 80px;
					height: 91%;
				}
				@include tablet { 
					left: -5%;
					top: 5vw;
				}
			}
		}
		.slick-list {
			overflow: visible;
		}
		.slick-dots {
			width: 100%;
			margin: auto;
			display: flex;
			justify-content: center;
			z-index: 99;
			padding: 10px 0 15px;
			transform: unset;
			right: 0;
			top: 59vw;
			bottom: auto;
			@include pc {
				width: auto;
				transform: rotate(90deg);
				top: auto;
				bottom: 70px;
				right: 518px;
			}
			@include tablet {
				top: auto;
				bottom: 6vw;
				right: 417px;
			}
			li {
				width: 10%;
				height: 1.1vw;
				@include pc {
					height: 7px;
					width: 46px;
				}
				button {
					width: 100%;
					height: 100%;
					border: 1px solid $main-color;
					text-indent: -9999px;
					cursor: pointer;
				}
				&.slick-active button {
					background: $main-color;
				}
			}
		}

		//   .slick-arrow {
		// 	position: absolute;
		// 	top: 0;
		// 	width: calc(50% - 500px);
		// 	height: 100%;
		// 	background: rgba(255, 255, 255, 0.3) url(../img/shared/next.png) no-repeat center left 40px;
		// 	border: none !important;
		// 	text-indent: -9999px;
		// 	z-index: 99;
		// 	cursor: pointer;
		// 	&.slick-prev {
		// 	  left: 0%;
		// 	  background: rgba(255, 255, 255, 0.3) url(../img/shared/prev.png) no-repeat center right 40px;
		// 	}
		// 	&.slick-next {
		// 	  right: 0%;
		// 	}
		//   }
	}
}
#sec4 {
	margin: 20vw 0 6vw;
	@include pc {
		margin: 161px 0px 0px 0px;
	}
	.wrap {
		.sec4-img {
			margin-top: -23vw;
			@include pc {
				margin: 0px 0px 0px 0px;
				position: absolute;
				top: -45px;
				left: -166px;
			}
		}
		.group {
			@include pc {
				width: 470px;
				margin: 0px 0px 0px auto;
			}
		}
		.sec4-content {
			border: 28px solid transparent;
			border-image: url(../img/shared/border.png) 46 5% round;
			@include pc {
				margin: 0 5px;
				border: 47px solid transparent;
				border-image: url(../img/shared/border.png) 46 5% round;
				padding-bottom: 18px;
				padding-top: 18px;
			}
			h2 {
				background: url(../img/sweets/sec4_h2_bg.png) no-repeat top center/100% 100%;
				margin-bottom: 6vw;
				@include pc {
					margin: 0px 0px 27px 0px;
					padding: 22px 0;
				}
			}
			.sub-title {
				margin-bottom: 6vw;
				font-size: 5vw;
				@include pc {
					font-size: 22px;
					margin: 0px 0px 15px 0px;
				}
				strong {
					font-weight: 500;
				}
				span {
					font-size: 4.3vw;
					@include pc {
						font-size: 18px;
					}
				}
			}
			.sec4-txt {
				@include pc {
					width: 370px;
					margin: 0 auto;
				}
			}
		}
	}
}
#sec5 {
	padding-bottom: 20vw;
	@include pc {
		padding-top: 109px;
		padding-bottom: 252px;
	}
	.wrap {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			right: 0;
			bottom: -20vw;
			width: 54%;
			height: 50vw;
			z-index: -1;
			background: url(../img/sweets/sec5_deco.jpg) no-repeat bottom right/77% auto;
			@include pc {
				content: url(../img/sweets/sec5_deco.jpg);
				right: -425px;
				top: 479px;
				background: unset;
				z-index: 0;
			}
		}
		@include pc {
			&::before {
				content: url(../img/sweets/sec5_bg.png);
				position: absolute;
				left: -87px;
				top: 0;
				z-index: 1;
			}
			.sec5-img {
				position: absolute;
				top: -64px;
				right: -43px;
				z-index: 2;
			}
		}
	}
	.group {
		margin-top: 6vw;
		@include pc {
			margin: 0px auto 0px 84px;
			width: 380px;
			position: relative;
			z-index: 1;
			padding: 112px 0 0 0;
		}
	}
	.sec5-txt {
		h2 {
			border-bottom: 2px solid transparent;
			border-image: url(../img/sweets/sec5_border_bottom.jpg) 20 repeat;
			@include pc {
				line-height: 52px;
			}
			small {
				@include pc {
					font-size: 20px;
				}
			}
		}
		> p {
			line-height: 3;
			font-size: 4vw;
			border-bottom: 2px solid transparent;
			border-image: url(../img/sweets/sec5_border_bottom.jpg) 20 repeat;
			@include pc {
				font-size: 16px;
				line-height: 52px;
			}
		}
	}
	.sec5-btn {
		font-size: 5vw;
		margin-top: 8vw;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		@include pc {
			font-size: 25px;
			margin: 25px 36px 0px 0px;
		}

		.btn-link {
			margin-left: 8%;
			width: 25%;
			@include pc {
				width: auto;
				margin: 0px 0px 0px 30px;
			}
		}
	}
}

.bg-parallax {
	position: relative;
	height: 100%;
	z-index: -2;
	min-height: unset;
	@include pc {
		min-height: 945px;
	}
	img {
		height: 70vw;
	}
	@include pc {
		.img-parallax {
			clip: rect(0, auto, auto, 0);
			margin-bottom: 0;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			img {
				width: 100%;
				height: 100vh;
				position: fixed;
				top: 0;
				left: 0;
				padding: 0;
				margin: 0;
				object-fit: cover;
				z-index: 0;
				transform: translateZ(0);
			}
		}
	}
}
#sec6 {
	padding: 8vw 0;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		height: 30vw;
		left: 0;
		right: 0;
		z-index: -1;
		background: url(../img/sweets/sec6_deco.jpg);
		@include pc {
			height: 270px;
		}
	}
	@include pc {
		margin: -37px 0px 0px 0px;
		padding: 80px 0px 0px 0px;
	}
	.group1 {
		position: relative;
		@include pc {
			justify-content: space-between;
		}
		.sec6-img1 {
			width: 80%;
			margin-right: 3%;
			@include pc {
				margin: 0px 0px 0px -29px;
				width: auto;
			}
		}
		h2 {
			font-size: 6vw;
			background: url(../img/sweets/sec6_h2_bg.png) no-repeat top center/100% 100%;
			padding: 16vw 3% 6vw;
			margin-top: 7vw;
			@include pc {
				font-size: 40px;
				padding: 0px 0px 0px 0px;
				margin: 68px 0px 0px 0px;
				width: 161px;
				height: 556px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		.sec6-img2 {
			position: absolute;
			bottom: 2vw;
			right: 15%;
			width: 80%;
			@include pc {
				width: auto;
				bottom: -144px;
				right: -3px;
			}
		}
	}
	.sec6-txt {
		margin: 6vw 0;
		@include pc {
			margin: 178px 0px 0px auto;
			width: 345px;
		}
	}
	.sec6-img3 {
		@include pc {
			margin-top: -485px;
		}
	}
}
#sec7 {
	padding-bottom: 12vw;
	position: relative;
	background: url(../img/sweets/sec7_deco_bottom.jpg) repeat-x bottom center/auto 30vw;
	@include pc {
		padding-bottom: 188px;
		background-size: auto auto;
	}
	.content {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			top: -20vw;
			left: -26%;
			z-index: -1;
			height: 30vw;
			width: 50%;
			background: url(../img/sweets/sec7_deco.png) no-repeat top center/100% auto;
			@include pc {
				background: unset;
				content: url(../img/sweets/sec7_deco.png);
				position: absolute;
				top: -84px;
				left: -115px;
			}
		}
	}
	h2 {
		margin: 0 auto;
		width: 75%;
		@include pc {
			width: auto;
			margin-right: 76px;
		}
	}
	.sec7-img1 {
		margin: -18vw auto 0;
		width: 95%;
		@include pc {
			position: absolute;
			width: auto;
			margin: 0px 23.4% 0px 0px;
			top: -124px;
			z-index: 1;
		}
	}
	.sec7-txt {
		background: url(../img/sweets/sec7_bg.jpg);
		border-radius: 10px;
		padding: 7vw 5%;
		position: relative;
		@include pc {
			padding: 0 50px;
			margin: 0 -50px;
			border-radius: 20px;
			justify-content: space-between;
			height: 322px;
			align-items: center;
			flex-direction: row-reverse;
		}
		.col1 {
			margin-bottom: 12vw;
			@include pc {
				margin: 0px 0px 0px 0px;
				width: 309px;
			}
			.title {
				position: relative;
				&:after {
					content: "";
					position: absolute;
					bottom: -2.5vw;
					right: 0;
					width: 100%;
					height: 1px;
					background: #000;
					@include pc {
						bottom: -8px;
						width: 150%;
					}
				}
				h3 {
					font-weight: 500;
					font-size: 7vw;
					@include pc {
						font-size: 32px;
						margin-bottom: 25px;
					}
				}
				.color-main {
					font-size: 4.5vw;
					@include pc {
						font-size: 22px;
					}
				}
			}
			dl {
				justify-content: space-between;
				margin-top: 7vw;
				@include pc {
					margin: 16px 0px 0px 0px;
				}
			}
		}
		.col2 {
			@include pc {
				width: 297px;
			}
			h3 {
				font-size: 5vw;
				margin-bottom: 4vw;
				font-weight: 600;
				@include pc {
					font-size: 20px;
					margin: 0px 0px 0px 0px;
				}
			}
			.col2-txt {
				@include pc {
					margin-top: 21px;
				}
			}
		}
	}
}
#sec8 {
	.sec8-img1 {
		position: relative;

		img {
			height: 65vw;
			@include pc {
				height: auto;
				width: 100%;
			}
		}
		h2 {
			position: absolute;
			left: 44%;
			top: 15vw;
			width: 12%;
			@include pc {
				bottom: -152px;
				top: auto;
				transform: unset;
				left: calc(50% - 47px);
				width: auto;
			}
		}
	}
	.group1 {
		margin-top: 19vw;
		position: relative;
		@include pc {
			margin: 0px 0px 0px 0px;
			padding: 20px;
		}
		&:after {
			content: "";
			position: absolute;
			z-index: -1;
			right: -4%;
			top: -27vw;
			width: 50%;
			height: 40vw;
			background: url(../img/sweets/sec8_deco1.jpg) no-repeat top center/100% 100%;
			@include pc {
				background: unset;
				content: url(../img/sweets/sec8_deco1.jpg);
				top: 0;
				right: -377px;
			}
		}
		.sec8-img2 {
			@include pc {
				margin: 191px -256px 0 236px;
			}
		}
		.bg {
			@include pc {
				position: relative;
				&:after {
					content: "";
					left: 0;
					right: 0;
					bottom: 0;
					top: 0;
					opacity: 0.9;
					z-index: -1;
				}
			}
		}
		.box-main-color {
			padding: 5vw 5%;
			@include pc {
				padding: 75px 73px;
				width: 510px;
				height: 496px;
				position: absolute;
				top: 180px;
				left: -65px;
				background: transparent;
				z-index: 0;
				.bg {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: url(../img/sweets/sec8_bg_txt_box.jpg);
					z-index: -1;
					opacity: 0.8;
				}
			}
			h3 {
				font-size: 6vw;
				margin-bottom: 1vw;
				@include pc {
					font-size: 32px;
					margin: 0px 0px 17px 0px;
				}
				span {
					font-size: 4.5vw;
					@include pc {
						font-size: 23px;
					}
				}
			}
			.price {
				font-size: 4vw;
				margin-bottom: 5vw;
				@include pc {
					font-size: 22px;
					margin: 0px 0px 40px 0px;
				}
			}
			
		}
	}
	.group2 {
		margin-top: 4vw;
		position: relative;
		@include pc {
			margin: -77px 0px 0px 20px;
			text-align: center;
		}
		.sec8-img3 {
			margin-bottom: 4vw;
			@include pc {
				margin: 0px 0px 0px 0px;
				position: absolute;
				top: -61px;
				z-index: 1;
				left: -67px;
			}
		}
		.sec8-img4 {
			margin-bottom: 4vw;
			@include pc {
				margin: 0px 0px 0px 0px;
			}
		}
		.sec8-img5 {
			@include pc {
				position: absolute;
				right: -41px;
				top: 64px;
				z-index: -1;
			}
		}
		.sec8-txt2 {
			margin-top: 5vw;
			padding: 0 4%;
			@include pc {
				margin: 40px 0px 0px -20px;
				padding: 0;
				width: 568px;
			}
		}
	}
}
#sec9 {
	margin: 8vw 0 0;
	padding-bottom: 13vw;
	padding-top: 24vw;
	background: url(../img/sweets/sec9_bg_bottom.jpg) repeat-x bottom center/auto 120px, url(../img/sweets/sec9_bg_top.jpg) repeat-x top center/auto 120px;
	@include pc {
		margin-top: 82px;
		padding-bottom: 209px;
		padding-top: 237px;
		background: url(../img/sweets/sec9_bg_bottom.jpg) repeat-x bottom center/auto 198px, url(../img/sweets/sec9_bg_top.jpg) repeat-x top center/auto 240px;
	}

	dl {
		display: flex;
		justify-content: space-between;
		padding: 4vw 3%;
		font-size: 4vw;
		border-bottom: 2px solid transparent;
		border-image: url(../img/sweets/sec5_border_bottom.jpg) 20 round;
		@include pc {
			font-size: 16px;
			padding: 12px 11px 12px 11px;
			line-height: 25px;
		}
		dd {
			text-align: right;
		}
	}
	.border-top {
		border-top: 2px solid transparent;
		border-image: url(../img/sweets/sec5_border_bottom.jpg) 20 round;
	}
	.border-top-pc {
		@include pc {
			border-top: 2px solid transparent;
			border-image: url(../img/sweets/sec5_border_bottom.jpg) 20 round;
		}
	}
	.group1 {
		@include pc {
			padding: 0 15px;
			margin-top: 71px;
		}
		h2 {
			margin-top: 15vw;
			position: relative;
			font-size: 7vw;
			@include pc {
				margin: 0px 0px 55px 0px;
				font-size: 40px;
			}
			&:after {
				content: "";
				position: absolute;
				left: 50%;
				top: -18vw;
				width: 2px;
				transform: translateX(-50%);
				height: 20vw;
				background: $main-color;
				@include pc {
					height: 89px;
					top: -117px;
				}
			}
		}
		.sub-h2 {
			font-size: 4vw;
			margin: 6vw 0;
			@include pc {
				font-size: 16px;
				margin: 0px 0px 22px 0px;
			}
		}
		.flex-pc {
			justify-content: space-between;
			.col {
				@include pc {
					width: 297px;
				}
			}
		}
	}
	.sec9-deco {
		margin: 9vw 0;
		@include pc {
			margin: 74px 0 60px;
		}
	}
	.group2 {
		@include pc {
			padding: 0 70px;
		}
		.flex-pc {
			justify-content: space-between;
		}
		h2 {
			margin: 0 -4%;
			@include pc {
				margin: 0px 0px 53px 0px;
			
			}
		}
		.sub-h2 {
			margin: 6vw 0;
			@include pc {
				margin: 0px 0px 38px 0px;
			}
		}
		.col {
			@include pc {
				width: 403px;
			}
		}
	}
}
